$hg: 30px;
.promo-bar {
   background: #404040;
   background: rgb(26, 43, 75);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 900;
   height: $hg;
   width: 100%;
   color: white;
   * {
      margin: 0;
   }
   a {
      $bg: $primary-color;
      color: $bg;
      margin: 0 5px;
      border-bottom: 1px solid $bg;
      &:hover {
         color: darken($bg, 5%);
      }
   }
}

html.has-promo-bar {
   padding-top: $hg;
   .nav {
      top: $hg;
   }
}
