@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;

  @apply text-gray-700 dark:text-gray-300;

  @apply bg-white dark:bg-black transition-colors;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gradient-to-tr from-white to-gray-100 dark:from-black dark:to-gray-800;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: Archia, Wotfard, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.gradient-primary {
  background: linear-gradient(45deg, rgb(238, 97, 97), rgb(254, 212, 2), rgb(5, 227, 156), rgb(1, 208, 251));
}

.container {
  @apply max-w-4xl w-full mx-auto px-4 md:px-8;
}

.bg-transparent {
  background: transparent !important;
}

.timeline::before {
  content: '';
  @apply absolute top-0 h-full w-1;
  left: calc((theme('spacing.12') / 2) - (theme('spacing.1') / 2));
  background: linear-gradient(45deg, rgb(238, 97, 97), rgb(254, 212, 2), rgb(5, 227, 156), rgb(1, 208, 251));

  @apply dark:opacity-50;
}

/* auto link headings */
