@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  @apply text-gray-700;
  font-family: Archia, Wotfard, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.gradient-primary {
  background: linear-gradient(45deg, rgb(238, 97, 97), rgb(254, 212, 2), rgb(5, 227, 156), rgb(1, 208, 251));
}

.container {
  @apply max-w-4xl mx-auto p-2 md:p-3;
}

.bg-transparent {
  background: transparent !important;
}

a {
  @apply text-base no-underline dark:text-gray-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-extrabold dark:text-gray-400;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

blockquote,
ol,
ul,
p,
table,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-3;
}

p {
  @apply text-base dark:text-gray-400;
}

ul,
li {
  @apply dark:text-gray-400;
}

pre {
  @apply bg-gray-800 text-gray-200 overflow-x-auto rounded-lg;

  @apply p-1;
}

blockquote {
  @apply italic;
  @apply text-base;
  @apply border-l-4;
  @apply pl-2;
  @apply dark:text-gray-400;
}

@screen lg {
  a,
  p,
  li,
  pre,
  blockquote {
    @apply text-xl;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  pre {
    @apply p-2;
  }

  blockquote {
    @apply pl-2;
  }

  blockquote,
  ol,
  ul,
  p,
  table,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4;
  }
}

.timeline::before {
  content: '';
  @apply absolute top-0 h-full w-0.5;
  left: calc(theme('spacing.3') - (theme('spacing[0.5]') / 2));
  background: linear-gradient(45deg, rgb(238, 97, 97), rgb(254, 212, 2), rgb(5, 227, 156), rgb(1, 208, 251));

  @apply dark:opacity-50;
}

/* prism */
pre {
  overflow-x: auto;
}

/**
   * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
   * 1. Make the element just wide enough to fit its content.
   * 2. Always fill the visible space in .code-highlight.
   */
.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  border-left-color: rgba(31, 41, 55, 0); /* Set code block color */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5); /* Set highlight bg color */
  border-left-width: 4px;
  border-left-color: rgb(59, 130, 246); /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}

:root {
  --code-font-family: Menlo, 'DM Mono', 'Roboto Mono', Courier New, monospace;
  --code-font-color: #b3b9c5;
  --code-background-color: #333;
  --string: #92d192;
  --variable: #f2777a;
  --property: #abb2bf;
  --number: #fca369;
  --operator: #ac8d58;
  --punctuation: #d5d8df;
  --comment: #848991;
  --function: #62cfcf;
  --keyword: #ffeead;
  --attribute: #ffd479;
  --class: #e1a6f2;
  --tag: #6ab0f3;
  --error: #f2777a;
  --terminal-color: var(--primary);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.important {
  color: var(--comment);
}

.token.punctuation {
  color: var(--punctuation);
}

.token.namespace {
  opacity: 0.7;
}

.token.property {
  color: var(--property);
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--tag);
}

.token.number {
  color: var(--number);
}

.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: var(--code-font-color);
}

.token.attr-name,
.token.selector {
  color: var(--attribute);
}

.token.attr-value,
.token.string {
  color: var(--string);
}

.token.operator {
  color: var(--operator);
}

.token.atrule,
.token.keyword {
  color: var(--keyword);
}

.token.function {
  color: var(--function);
}

.language-css,
.token.boolean,
.token.class-name {
  color: var(--class) !important;
}

.token.regex {
  color: var(--keyword);
}

.token.variable {
  color: var(--variable);
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.language-jsx .token.class-name {
  color: var(--tag) !important;
}

pre::-moz-selection,
pre::-moz-selection,
code::-moz-selection,
code::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre::selection,
pre::selection,
code::selection,
code::selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

@screen md {
  pre[class*='language-'],
  .filename {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

pre[class*='language-'].line-numbers {
  padding-left: 3.5rem;
}

pre[class*='language-'] {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* auto link headings */

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

/* rehype-code-title */

.rehype-code-title {
  @apply px-2.5 py-1.5 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-700;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

@screen md {
  .rehype-code-title {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

/* Article Styles */

.article ul,
.article ol {
  @apply list-inside;
}

.article ul {
  @apply list-disc;
}

.article ol {
  @apply list-decimal;
}

.article a {
  @apply hover:bg-primary hover:text-white font-bold border-b-2 border-primary;
}

.article ul a,
.article ol a {
  @apply border-b-0;
}
