@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
   --font-color: #495057;
   --heading-color: #343a40;
   --background: white;
   --dark-font-color: #1b1d25;
   --medium-font-color: #60656c;
   --light-font-color: #858b93;
   --light-background: #f1f4f8;
   --light-background-hover: #e1e6ed;
   --border: #d6d9de;
   --link-color: #5183f5;
   --link-color-darker: #364fc7;
   --navbar-color: #1b1d25;
   --blockquote: #edf2ff;
   --transparent-text: rgba(0, 0, 0, 0.7);
   --transparent-bg: rgba(0, 0, 0, 0.05);
   --light-transparent-bg: rgba(255, 255, 255, 0.1);
   --font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
      'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
   --code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
   --border-color: var(--dark-font-color);
}

/* Reset */

*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Scaffolding */

html {
   font-family: var(--font-family);
   color: var(--font-color);
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.75;
}

body {
   background: var(--background);
   margin: 0;
   padding: 0;
}

time {
   font-family: var(--code-font-family);
   -webkit-font-smoothing: subpixel-antialiased;
}

section {
   margin: 2rem 0;
}

section:first-of-type {
   margin-top: 0;
}

img {
   display: inline-block;
   max-width: 100%;
   height: auto;
}

p,
ol,
ul,
dl,
table,
blockquote {
   font-size: 1.05rem;
   margin: 0 0 1.5rem 0;
}

ul {
   padding: 0 1rem;
}

@media screen and (min-width: 800px) {
   p,
   ol,
   ul,
   dl,
   table,
   blockquote {
      font-size: 1.3rem;
   }

   ul {
      padding: 0 2rem;
   }
}

ul li p {
   margin: 0 0 0.2rem 0;
}

ul li {
   padding-bottom: 0.3rem;
}

ul li ul {
   padding-left: 1rem;
   margin: 0;
}

ul li ul li {
   margin: 0;
}

ol li ol {
   margin-bottom: 0;
}

blockquote {
   margin: 2rem 0;
   padding: 1rem;
   background: var(--blockquote);
   font-weight: 400;
   border-radius: 0.3rem;
   border-left: 3px solid var(--link-color);
}

blockquote *:last-child {
   margin: 0;
}

blockquote :not(pre) > code[class*='language-'] {
   background: rgba(0, 0, 0, 0.1) !important;
}

@media screen and (min-width: 800px) {
   blockquote {
      padding: 2rem;
   }
   blockquote.quotation {
      margin: 2.5rem 0;
      overflow: auto;
   }
   blockquote.quotation cite {
      float: right;
      font-size: 1.5rem;
   }
   blockquote.quotation p {
      font-size: 1.4rem;
   }
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
   margin: 0 0 1.5rem 0;
   font-weight: 700;
   line-height: 1.2;
   color: var(--heading-color);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
   margin-top: 3rem;
}

h1 {
   font-size: 1.7rem;
   line-height: 1.1;
   font-family: 'DM Mono', Georgia, serif;
   letter-spacing: -0.1rem;
   -webkit-font-smoothing: subpixel-antialiased;
}

h2 {
   font-size: 1.6rem;
   padding-bottom: 0.5rem;
   border-bottom: 3px solid var(--border-color);
   font-family: 'DM Mono', Georgia, serif;
   letter-spacing: -0.05rem;
   -webkit-font-smoothing: subpixel-antialiased;
}

h2 code {
   font-size: 1.75rem !important;
}

h3 {
   font-size: 1.5rem;
   color: var(--font-color);
   font-weight: 600;
   margin-bottom: 1rem;
   text-decoration: underline;
}

h3 code {
   font-size: 1.4rem !important;
}

h4 {
   font-size: 1.3rem;
   color: var(--font-color);
   font-weight: 500;
   margin-bottom: 1rem;
   border-bottom: 3px solid var(--border-color);
   padding-bottom: 0.25rem;
}

h5 {
   font-size: 1.2rem;
   margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
   h1 {
      font-size: 3rem;
   }

   h2 {
      font-size: 2.2rem;
      letter-spacing: -0.1rem;
   }

   h2 code {
      font-size: 1.9rem !important;
   }

   h3 {
      font-size: 1.8rem;
      color: var(--font-color);
      font-weight: 600;
   }

   h3 code {
      font-size: 1.6rem !important;
   }

   h4 {
      font-weight: 600;
      font-size: 1.5rem;
   }
}

a.link {
   display: block;
   padding: 0.25rem 0;
   margin: 0.25rem 0;
   border-radius: 0.35rem;
   font-weight: 600;
   color: var(--dark-font-color);
}

a.link:hover {
   color: var(--link-color);
}

a.button {
   display: inline-block;
   border: 2px solid var(--link-color);
   padding: 0.6rem 1rem;
   margin-right: 0.75rem;
   font-weight: 500;
   background: var(--link-color);
   color: white;
   border-radius: 0.35rem;
   font-size: 1.1rem;
   font-family: var(--code-font-family);
   margin-bottom: 0.5rem;
}

a.button.large {
   padding: 0.8rem 1rem;
   font-size: 1.3rem;
}

a.button.secondary {
   border: 2px solid #edf2ff;
   background: #edf2ff;
   color: #3b5bdb;
}

a.button:hover,
a.button.secondary:hover {
   border: 2px solid var(--link-color-darker);
   background: var(--link-color-darker);
   color: white;
}

@media screen and (min-width: 800px) {
   a.button {
      font-size: 1.3rem;
      padding: 0.8rem 1.2rem;
   }
   a.button.large {
      padding: 1rem 1.5rem;
      font-size: 1.4rem;
   }
}

p.subtitle {
   color: var(--light-font-color);
   font-size: 1.3rem;
   font-weight: 300;
   margin-bottom: 0;
   line-height: 1.5;
}

@media screen and (min-width: 800px) {
   p.subtitle {
      font-size: 1.8rem;
      line-height: 1.6;
      max-width: 700px;
   }
}

/* Links */

a {
   color: var(--heading-color);
   text-decoration: none;
   font-weight: 600;
   border-bottom: 3px solid #b9cdfb;
}

a:hover {
   color: #101010;
   border-bottom: 3px solid #96b4f9;
}

a.image-link {
   border-width: 0;
}

a.gatsby-resp-image-link {
   border-bottom: none !important;
}

a code[class*='language-'] {
   color: var(--link-color-darker) !important;
}

a code[class*='language-']:hover {
   background: var(--link-color) !important;
   color: white !important;
}

/* Tables */

table {
   display: block;
   border-collapse: separate;
   border-spacing: 0;
   width: 100%;
   max-width: 100%;
   overflow-x: auto;
}

thead,
tbody {
   white-space: nowrap;
}

th {
   border-bottom: 2px solid var(--border);
}

tfoot th {
   border-top: 1px solid var(--border);
}

td {
   border-bottom: 1px solid var(--border);
}

th,
td {
   text-align: left;
   padding: 0.75rem !important;
   hyphens: auto;
   word-break: break-word;
}

tbody tr:nth-child(even) {
   background-color: var(--light-background);
}

@media screen and (min-width: 800px) {
   table {
      display: table;
      border: 1px solid var(--border);
   }
   thead,
   tbody {
      white-space: normal;
   }
}

.container {
   max-width: 1000px;
   padding: 0 1.5rem;
   margin-left: auto;
   margin-right: auto;

   @media screen and (min-width: 800px) {
      padding: 0 2rem;
   }
}

@import 'components/index';
