.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-extrabold dark:text-gray-400;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  blockquote,
  ol,
  ul,
  p,
  table,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-3;
  }

  p {
    @apply text-base dark:text-gray-400;
  }

  ul,
  li {
    @apply dark:text-gray-400;
  }

  pre {
    @apply bg-gray-800 text-gray-200 overflow-x-auto rounded-lg;

    @apply p-1;
  }

  blockquote {
    @apply italic;
    @apply text-base;
    @apply border-l-4;
    @apply pl-2;
    @apply dark:text-gray-400;
  }

  @screen lg {
    a,
    p,
    li,
    pre,
    blockquote {
      @apply text-xl;
      @apply leading-9;
    }

    h1 {
      @apply text-5xl;
      @apply leading-9;
    }

    h2 {
      @apply text-4xl;
      @apply leading-9;
    }

    h3 {
      @apply text-3xl;
      @apply leading-9;
    }

    h4 {
      @apply text-2xl;
      @apply leading-9;
    }

    h5 {
      @apply text-xl;
      @apply leading-9;
    }

    h6 {
      @apply text-lg;
      @apply leading-9;
    }

    pre {
      @apply p-2;
    }

    blockquote {
      @apply pl-2;
    }

    blockquote,
    ol,
    ul,
    p,
    table,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mb-4;
    }
  }
}

/* ---------------------------- */

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

/* rehype-code-title */

.rehype-code-title {
  @apply px-2.5 py-1.5 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-700;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

@screen md {
  .rehype-code-title {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

/* Article Styles */

.article ul,
.article ol {
  @apply list-inside;
}

.article ul {
  @apply list-disc;
}

.article ol {
  @apply list-decimal;
}
