.main {
  @apply mt-13 md:mt-7 lg:mt-10;

  min-height: calc(100vh - (theme('spacing.13') + theme('spacing.12')));

  @media screen(md) {
    min-height: calc(100vh - (theme('spacing.7') + theme('spacing.15')));
  }

  @media screen(lg) {
    min-height: calc(100vh - (theme('spacing.10') + theme('spacing.20')));
  }
}
