.code-highlight {
  float: left;
  width: 100%;
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  border-left-color: rgba(31, 41, 55, 0); /* Set code block color */
}

.code-line.inserted {
  /* Set inserted line (+) color */
  /* background-color: rgba(16, 185, 129, 0.2); */
}

.code-line.deleted {
  /* Set deleted line (-) color */
  /* background-color: rgba(239, 68, 68, 0.2); */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5); /* Set highlight bg color */
  border-left-width: 4px;
  border-left-color: rgb(59, 130, 246); /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}

pre[class*='language-'] {
  border-radius: 0.3rem;
}

/* Prism Theme Vars - Override */
html[data-theme='dark'] {
  --prism-background: #121212 !important;
}
