name: End to End Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node: [18.15.0]
        os: [ubuntu-latest]
        pnpm: [8.6.1]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.2
        with:
          version: ${{ matrix.pnpm }}

      - name: Setup Node.js (${{ matrix.node }})
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install dependencies
        run: |
          pnpm install

          pnpm exec cypress install

      - name: Cypress run
        uses: cypress-io/github-action@v4
        timeout-minutes: 10
        with:
          browser: chrome
          install: false
          command: pnpm run test:e2e
          component: false
        env:
          # pass GitHub token to allow accurately detecting a build vs a re-run build
          APP_ENV: development
          REST_API_URL: https://api.yonycalsin.com
          REST_API_PUBLIC_KEY: ${{ secrets.ENV_REST_API_PUBLIC_KEY }}
          REST_API_MOCKING: true
          DEBUG: api:*
          FF_BOOKS: false
          FF_BLOG: false
          FF_PROJECTS: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: pnpm exec cypress info

      - run: node -p 'os.cpus()'
