name: Integration

on: push

jobs:
  integration:
    timeout-minutes: 15

    runs-on: ubuntu-latest

    env:
      DATABASE_URL: 'mysql://githubci:githubci@127.0.0.1:3306/personal_website'
      SHADOW_DATABASE_URL: 'mysql://githubci:githubci@127.0.0.1:3306/personal_website'

    strategy:
      fail-fast: false
      matrix:
        node-version: [16.14.0]

    steps:
      - name: Setup Database with Mysql
        run: |
          docker run \
          --name mysql \
          -e MYSQL_ALLOW_EMPTY_PASSWORD=yes \
          -e MYSQL_DATABASE=personal_website \
          -e MYSQL_USER=githubci \
          -e MYSQL_PASSWORD=githubci \
          --health-cmd='mysqladmin ping' \
          --health-interval=10s \
          --health-timeout=5s \
          --health-retries=5 \
          -p 3306:3306 \
          -d mysql:8.0.13 \
          --sql-mode='' \
          --default-authentication-plugin='mysql_native_password' \

      - name: Check out code
        uses: actions/checkout@v3

      - name: Checkout submodules
        env:
          CI_USER_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
        run: |
          sed -i -e "s/https:\/\/github.com/https:\/\/$CI_USER_TOKEN@github.com/" ./.gitmodules

          git submodule update --init --recursive

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.1.3

      - name: Setup Node.js environment
        uses: actions/setup-node@v1.4.4
        with:
          node-version: 16.14.0
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Wait for MySQL
        run: pnpm dlx wait-on tcp:3306 && echo "MySQL is up"

      - name: Build
        run: pnpm run contentlayer:build

      - name: Static Testing
        run: pnpm run test:static

      - name: Unit Testing
        run: pnpm run test:unit:ci
