name: Sync Blog

# this triggers the action when a post to "https://api.github.com/repos/:username/:repo/dispatches" comes in
on:
  repository_dispatch:
    types: sync-blog

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - env:
          AUTHOR_USER_NAME: ${{ github.event.client_payload.author_username }}
          EVENT_MESSAGE: ${{ github.event.client_payload.event_message }}
          EVENT_URL: ${{ github.event.client_payload.event_url }}
          PERSONAL_GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          CI_USER_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}

        run: |
          COMMIT_DYNAMIC_MESSAGE=$(echo "sync: update blog on $EVENT_URL")

          echo $COMMIT_DYNAMIC_MESSAGE

          git remote set-url origin https://yonycalsin:$PERSONAL_GITHUB_TOKEN@github.com/yonycalsin/yonycalsin.com.git

          sed -i -e "s/https:\/\/github.com/https:\/\/$CI_USER_TOKEN@github.com/" ./.gitmodules

          git config user.email "helloyonycalsin@gmail.com"

          git config user.name "Yony Calsin"

          git submodule init

          git submodule update --remote --init

          git add ./data

          git commit -m "$COMMIT_DYNAMIC_MESSAGE"

          git push -f
